<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Image Uploader</title>
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="static/js/jquery.min.js"></script> 
		<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
        <script type="text/javascript" src="static/js/upload.js"></script>        
    </head>
    <body>  

        <div align="center">
            <h2>Image uploader</h2>
            <ul>
                <li><label>Number of Rows:</label><input id="nRText" type="text" name="nRows" value="6"></li>
                <li><label>Number of Columns:</label><input id="nCText" type="text" name="nCols" value="6"></li>
            </ul>
        </div>
        
		<div id="dropbox">
			<span class="message">Drop images here to upload.</span>
		</div>
            
    </body>
</html>

